.navbar{
    width: 100%;
    display: flex;
    box-shadow: 2px 5px 12px -1px rgba(0,0,0,0.56);
    padding-left: 10rem;
}
#header-name{
    margin: auto 10rem ;
}
#searchbar-input{
    margin: 0 auto;
    float: none;
    width:100%;
    max-width: 300px;
    padding: 5px 10px;
    border: 2px solid black;
    margin: 2rem 20rem;
}
#searchbar-ul{
    margin: 0;
  padding: 0;
}
#searchbar-li{
    text-align: left;
    padding: 5px 10px;
    width: 100%;
    max-width: 280px;
    margin: 1px auto;
    background-color: white;
    border: 1px solid       black;
    list-style: none;
}